body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 223, 198);
}

@font-face {
  font-family: 'Pixel';
  src: local('Pixel'), url(./fonts/Pixeled.ttf) format('truetype');
}
@font-face {
  font-family: 'Pixeltext';
  src: local('Pixeltext'), url(./fonts/dogica.ttf) format('truetype');

}

a{
  color: unset;
  text-decoration: none;
}

html{
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



